{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "globals": {
    "window": false,
    "document": false
  },
  "rules": {
    "linebreak-style": 0,
    "jsx-a11y/no-static-element-interactions": "false",
    "react/prop-types": "off",
    "import/prefer-default-export": "off",
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ],
    "no-console": [
      "warn",
      {
        "allow": [
          "warn"
        ]
      }
    ]
  }
}
