$block: 'list-item';
$divider-color: #d5dbe0;
.#{$block} {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    letter-spacing: -0.24px;
    &__inner {
        display: flex;
        position: relative;
        padding-top: 7px;
        padding-right: 15px;
        padding-bottom: 7px;
        width: 100%;
        overflow: hidden;
        align-self: stretch;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            right: auto;
            top: auto;
            height: 1px;
            width: 100%;
            background-color: $divider-color;
            display: block;
            z-index: 15;
            transform-origin: 50% 100%
        }
    }
}